* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    color:rgba(0, 0, 0, 0.863);
    background: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    text-align: center;
}

.card{
    display: flex;
    flex-direction:column;
    margin: auto;
    margin-top:50%;
    width: 320px;
    height: 360px;
    background: white;
    border-radius: 15px;
    position: relative;
}

.card::before, .card::after{
    content: "";
    height:1000px;
    width: 1000px;
    position: absolute;
    z-index: -1;
}

.card::before{
    background: url(/images/bg-pattern-top.svg) no-repeat;
    top: -680px;
    left: -830px;
}

.card::after{
    background: url(/images/bg-pattern-bottom.svg) no-repeat;
    top: 250px;
    left: 0;
}

#background{
    background-image: url(/images/bg-pattern-card.svg);
    height: 130px;
    border-radius: 15px 15px 0 0;
}

.card>img {
    width: auto;
    height: 95px;
    border: 5px solid white;
    border-radius:70%;
    position: absolute;
    top: 23%;
    left: 36%;
}

.card-info {
    margin-top: 80px;
    flex-grow: 2;
}

.grey-text {
    color: hsl(0, 0%, 59%);
}

#city-text {
    padding-top: 10px;
    font-size: 0.8em;
}

.card-stats {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-top: hsla(0, 0%, 59%, 0.288) solid 1px;
}

.stats>.grey-text{
    font-size: 0.55em;
    letter-spacing: 2px;
}

.stats> p{
    margin: 4px;
}

@media only screen and (min-width: 700px) {
    .card {
        margin-top:12%;
    }
}